html body{
	
}
.my-font {
  font-family: "MyFont";
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../fonts/MyFontt.ttf) format('truetype');
  /* other formats include: 'woff2', 'woff, 'opentype',
                            'embedded-opentype', and 'svg' */
}